body {
  background-color: #282c34;
  color: white;
  font-family: 'Lato', sans-serif;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

.noJScontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.noJSwarn {
  color: red;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 32px;
}

.noJStitle {
  color: #0070ff;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 12px;
}
