:root {
  /** This is the number of characters in the text */
  --characters: 45;
}
.About-main {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 5vh;
}
.About-ProfilePic {
  border-radius: 8px;
}
.About-imageFlipper {
  width: 125px;
  height: 125px;
}
.About-imageFlipper img:last-child {
  display: none;
}
.About-imageFlipper:hover img:last-child {
  display: block;
}
.About-imageFlipper:hover img:first-child {
  display: none;
}
.About-title {
  font-weight: 500;
  font-size: 7vh;
}
.About-text {
  width: 32vw;
  font-size: large;
}
