.ArticlePage-container {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  padding: 1vh 1vw;
  border-radius: 3px;
  min-height: 80vh;
  width: calc(1vw + 800px);
  overflow-x: auto;
}

.ArticlePage-content {
  max-width: 800px;
  margin: 0 auto;
}

.ArticlePage-content a:link {
  color: dodgerblue;
}

.ArticlePage-content a:visited {
  color: mediumpurple;
}

.ArticlePage-content code:not([class]) {
  display: inline-block;
  overflow: auto;
  scrollbar-width: thin;
  padding: 1vh 1vw;
  font-size: 90%;
  background-color: rgb(0, 0, 0, 0.5);
  border-radius: 3px;
}

.ArticlePage-content img:not([class]) {
  max-width: 97vw;
  max-height: 95vh;
}

.ArticlePage-content h1:not([class]) {
  text-align: center;
}
