.Articles-container {
  padding: 1vw 1vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
}
.Articles-title {
  font-weight: bold;
  text-decoration: none;
  font-size: 18px;
  margin-top: 32px;
  text-transform: capitalize;
}
.Articles-title:hover {
  color: #0080ff !important;
  cursor: pointer;
}
