.Navbar-container {
  display: flex;
  text-align: center;
  flex-direction: row;
  max-height: 2vh;
  margin-top: 4vh;
}
.Title {
  font-weight: bold;
  font-size: x-large;
  text-decoration: none;
  flex-grow: 1;
  text-align: start;
  margin-left: 10vw;
  cursor: pointer;
}
.Navbar-linksHorizontal {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-grow: 1;
  font-size: medium;
}
.Navbar-linksVertical {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: medium;
  height: 100vh;
  width: 50vw;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.None {
  display: none;
}
.Links {
  font-weight: bold;
  text-decoration: none;
}
.Links:hover {
  cursor: pointer;
  color: #0080ff !important;
}
.activeLink {
  font-weight: bold;
  text-decoration: none;
  color: #0080ff !important;
  pointer-events: none;
}
a:active,
a:focus {
  outline: 0;
}
.toggle-button {
  position: absolute;
  top: 4vh;
  right: 1rem;
  display: flex;
  width: 32px;
  height: 32px;
  cursor: pointer;
  z-index: 2;
}
