.Resume-Container {
  margin-top: 8vh;
}
.Resume-Title {
  font-weight: bold;
  font-size: x-large;
  text-align: center;
  font-variant: small-caps;
  cursor: pointer;
  padding: 24px 0 0 0;
}
.Resume-ActiveTitle {
  font-weight: bold;
  font-size: x-large;
  text-align: center;
  font-variant: small-caps;
  cursor: pointer;
  padding: 24px 0 0 0;
  color: #0080ff;
}
